@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0 px;
  font-family: "Quicksand";
  color: black;
}

.navbar {
  padding: 10px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid red;
}

.navbar h1 {
  color: brown;
}
.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  /* color: darkgreen; */
  border: 0px;
  border-radius:8px;
  background-color: blue;
  color: white;

}

.content {
  max-width: 600px;
  padding: 20px;
  margin: 40px auto;
}

/* css to blog list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0px;
  border-bottom: 1px solid rgb(224, 177, 177);
}

.blog-preview h2 {
  font-size: 20px;
  color: rgb(28, 84, 214);
  margin-bottom: 8px;
}

.blog-preview h2:hover {
  color: rgb(240, 153, 39);
}

.blog-preview a {
  text-decoration: none;
}
/* styling the blog details */

.blog-details div {
  margin: 20px 0px;
}

.blog-details h2 {
  font-size: 20px;
  color: rgb(170, 38, 194);
  border-bottom: 2px solid black;
}
/* styles for create blog */

.create
{
  max-width: 400px;
  margin: 0px auto;
  text-align: center;
}

.create label
{
  text-align: left;
  display: block;
}
.create h2
{
  font-size: 20px;
  color: darkmagenta;
  margin-bottom: 30px;
}
.create input,.create textarea,.create select
{
  width: 100%;
  padding:10px 20px;
  margin:20px 0px;
  border: 1px solid blue;
  box-sizing: border-box;
  display: block;
}

.create button 
{
  color:white;
  background-color: blue;
  padding: 8px;
  border:0px;
  border-radius: 8px;
  cursor: pointer;

}